# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtual environment
venv/
.venv/
.env/


# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
*.env

# IDE / Editor specific
.vscode/
.idea/
*.swp
